* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 100px;
  background-color: rgb(136, 196, 166);
  align-content: center;
  text-align: center;
  font-size: 45px;
  font-family: impact;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex: 1;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.article-content {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px grey;
  overflow: hidden;
}

.article-text {
  padding: 10px;
}

.article-text p {
  margin-top: 10px;
}

.article-content img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

h1 {
  padding: 20px;
}

p {
  padding: 20px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgb(136, 196, 166);
  align-content: center;
  text-align: center;
  font-size: 10px;
  font-family: impact;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
