body {
  margin: 0px;
}

main {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}
header {
  width: 100%;
  height: 100px;
  background-color: rgb(136, 196, 166);
  align-content: center;
  text-align: center;
  font-size: 45px;
  font-family: impact;
}
article {
  width: 40%;
  height: auto;
  border: 3px solid black;
  border-radius: 6px;
  display: inline-block;
  gap: 20px;
  margin: 10px 20px 100px 20px;
}

h1 {
  padding: 20px;
}

p {
  padding: 20px;
}

article img {
  width: 100%;
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgb(136, 196, 166);
  align-content: center;
  text-align: center;
  font-size: 10px;
  font-family: impact;
}
